.feed-container {
    width: 140px;
    padding-right: 25px;
}

.feed-item {
    min-width: 100px;
    margin-top: 5px;
    color: gray;
    font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.feed-content-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #b9b9b9;
    padding-left: 3px;
    font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
}

.content-question-body{
    margin-bottom: 10px;
    color: #2b6dad;
    font-size: 15px;
}

.content-feed-container {

}