.index-main {
    // display: flex;
    // align-items: 
    // margin-left: 220px;
    // margin-right: 220px;
    // width: 80%;
    // width: 1000px;
    // width: 90%;
    // position: fixed;   
}

.index-body-container {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    background: rgb(250, 250, 250);
    padding-bottom: 50px;
    height: fit-content;
    // min-height: 1000px;
    // position: absolute;
    width: 100%;
}

.placeholder-container {
     background: rgb(250, 250, 250);
     
}
