.index-main {

}

.index-body {
     padding-left: 210px;
     padding-right: 210px;
       display: flex;
       justify-content: space-between;
}

.index-body-container {
    padding-top: 80px;
    background: rgb(250, 250, 250);
    padding-bottom: 50px;
    height: fit-content;
    width: 100%;
}

.personal-container {
    background: rgb(250, 250, 250);
    margin-left: 25px;
}
