.question-modal {
    background: white;
    width: 620px;
    height: 325px;
    border: solid darkgreen 1px;
    background: white;
}

.question-modal-header-container {
    border-bottom: solid rgb(4, 59, 4) 1px;
    display: flex;
    justify-content: space-between;
    background: rgba(6, 112, 6, 0.897);
}

.question-modal-header {
    margin-left: 30px;
    height: 50px;
    font-size: 20px;
    font-style: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 235, 235);
}

.close-modal-container,{
    height: 50px;
    margin-right: 30px;
    font-size: 20px;
    font-style: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 235, 235);
}

.question-input-field {
    margin-left: 30px;
    width: 90%;
    height: 180px;
    color: #000000;
    border-bottom: 2px solid #888888;
    font-size: 18px;
    font-family: 'q_serif',
    Georgia,
    Times,
    "Times New Roman",
    "Hiragino Kaku Gothic Pro",
    "Meiryo",
    serif;
    font-weight: 900;
    margin-top: 5%;
    resize: none;
}

.question-modal-footer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    background: #eeeeee;
    padding-bottom: 1%;
    border-top: 1px solid #b9b9b9;
}

.cancel-question {
    height: 50px;
    width: 100px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(145, 145, 145);
}

.add-question-container {
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-question-button {
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
    font-weight: 500;
    color: white;
    margin-right: 30px;
    padding: 6px 8px;
    background: #3e78ad;
    border: 1px solid rgb(78, 83, 162);
    box-shadow: 0 0 5px #888;
    font-family: sans-serif;
    border-radius: 3px;
}