.ask-question-container {
    background: white;
    border: 1px solid #dadadae0;
    // margin-top: 80px;
    width: 600px;
    height: 80px;
    padding-left: 15px;
    border-radius: 3px;

}

.current-user-container {
    // margin-left: 10px;
    margin-top: 15px;
    display: flex;
}

.profile-index-container {
       border: 1px solid rgba(0, 0, 255, 0.795);
       margin-right: 7px;
       width: 30px;
       height: 30px;
       border-radius: 50%;
       background: rgb(110, 120, 255);
       box-shadow: 0 0 3px black;
}

.index-username {
    text-transform: capitalize;
    margin-top: 4px;
    color: rgba(6, 112, 6, 0.897);
    font-size: 15px;
    font-family: sans-serif;
    color: rgb(160, 160, 160);
    // font-weight: bold;
}

.ask-question-button {
    padding-top: 4px;
    font-size: 20px;
    font-style: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(150, 150, 150);
    font-weight: bold;
}

// .question-item-box {
//     padding-right: 10px;
// }

// .index-page-container {
//     padding-right: 50px;
// }


.question-index-item-container {
    border-radius: 3px;
    width: 585px;
        // height: 80px;
    padding-left: 15px;
    padding-right: 15px;
    // padding-right: 15px;
    margin-top: 20px;
    border: 1px solid #dadadae0;
    background: white;
}

// how do i make first letter of question caps?
.testing::first-letter {
     text-transform: uppercase;
}

.question-body {
    font-weight: 400;
    font-family: "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.question-index-header-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.pleasework{ 
    padding-left: 13px;
    width: 580px;
    display: flex;
}

.authorname {
    text-transform: capitalize;
}


.options-icon-svg {
    height: 28px;
    width: 28px;
    cursor: pointer;
}

.options-container {
    display: flex;
    float: right;
}

// .options-items-list {
//     display: flex;
//     flex-direction: column;
    
// }
.options-content {
    position: absolute;
    right: 0px;
    top: 23px;
    background-color: #f9f9f9;
    width: 175px;
    height: 64px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: 1px solid #b9b9b9;
    border-left: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
    border-radius: 3px;
}