.session-main {
    justify-content: center;
    /* display: flex; */
    align-items: center;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 650px;
    border: solid rgba(160, 160, 160, 0.945) 1px;
}

.session-description {
    font-size: 19px;
    font-weight: 400;
    margin: 8px 0 32px;
    text-align: center;
    color: #949494ea;
    font-family: Georgia,
    Times,
    "Times New Roman",
    "Hiragino Kaku Gothic Pro",
    "Meiryo",
    serif;
}

.session-logo {
    color: rgb(175, 27, 27);
    font-size: 70px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
}

.session-form-body {
    flex-direction: row;
    width: 200px;
}

.session-button {
    padding: 5px 8px 5px 6px;
    font-family: sans-serif;
    border-radius: 3px;
    color: white;
    background: #3e78ad;
    border: 1px solid rgb(78, 83, 162)
}

.signup-username-fields {
    /* border: 1px solid black; */
    position: relative;
    flex-direction: row;

}

.login-input-field {
    
}

.signup-agreement {
    font-size: 13px;
    color: rgb(133, 132, 132);
    width: 300px;
    text-align: left;
}




/* .login-form {
    flex-direction: row;
    width: 325px;
    flex-direction: row
} */