.splash-img {
    background: image-url('session_page.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

.session-form-container {
    margin: 0 auto;
    width: 650px;
    height: 500px;
    border: solid rgba(160, 160, 160, 0.945) 1px;
    display: flex;
    justify-content: center;
    margin-top: 125px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background: rgba(230, 230, 230, 0.904); 
}

.session-description {
    font-size: 19px;
    font-weight: 400;
    margin: 8px 0 32px;
    text-align: center;
    color: #686868;
    font-family: Georgia,
    Times,
    "Times New Roman",
    "Hiragino Kaku Gothic Pro",
    "Meiryo",
    serif;
}

.session-header-box {
    text-align: center;
    position: absolute;
    padding: 10px;
}

.form-boxes {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 50px;
}

.session-logo {
    color: rgba(6, 112, 6, 0.897);
    font-size: 70px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;    
}

.Sign.Up-button {
    float: right;
    padding: 5px 8px 5px 6px;
    font-family: sans-serif;
    border-radius: 3px;
    color: white;
    background: #3e78ad;
    border: 1px solid rgb(78, 83, 162);
    box-shadow: 0 0 5px #888;
    margin-top: 13px;
}

.signup-label {
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
}

.name-label {
    font-size: 11px;
    color: #666;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    margin-left: 3px;
}

.Sign.Up-name-field {
    display: flex;
    margin-top: 10px;
}

.Login-name-field {
    float: right;
    display: none;
    border: 1px solid black;
}

.credentials-field {
    padding: 5px;
}

.session-text-box{
    padding-left: 10px;
    height: 28px;
    width: 260px;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    background-color: #f6f6f6;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(88, 88, 88, 0.550);
    font-size: 13px;
    margin-bottom: 13px;
}

.username-text-box {
    padding-left: 10px;
    margin-left: 2px;
    height: 28px;
    width: 130px;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    background-color: #f6f6f6;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px rgba(88, 88, 88, 0.550);
    font-size: 13px;
}

.signup-agreement {
    margin-top: 10px;
    font-size: 13px;
    color: rgb(100, 100, 100);
    width: 265px;
    text-align: left;
}

.session-title {
    color: black;
    font-size: 15px;
    font-weight: bold;
    margin-left: 4px;
}


.Login-form {
    margin-bottom: 110px;
    padding-left: 20px;
}

.Sign.Up-form{
    border-right: 1px solid gray;
    padding-right: 20px;
}

.Sign.Up-errors{
    display: none;
}

.Login-button {
    padding: 5px 8px 5px 6px;
    font-family: sans-serif;
    border-radius: 3px;
    color: white;
    background: #3e78ad;
    border: 1px solid rgb(78, 83, 162);
    box-shadow: 0 0 5px #888;
    float: right;
    margin-top: 13px;
}

.demo-button {
    padding: 5px 8px 5px 6px;
    font-family: sans-serif;
    border-radius: 3px;
    color: white;
    background: #3e78ad;
    border: 1px solid rgb(78, 83, 162);
    box-shadow: 0 0 5px #888;
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}

.Login-errors {
    position: absolute;
    top: 490px;
    height: 50px;
    width: 260px;
    color: red;
}